---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <section class="intro">
    <img src="/about.webp" alt="Morten and Anders" />
    <h1>
      <span class="title">ABOUT </span>
      <br />Twoeighty <br />production co.
    </h1>
  </section>

  <section class="grid_1">
    <article class="who">
      <h3>Who is 280</h3>
      <p>
        We, Morten and Anders, are a Copenhagen‐based duo with over a decade of
        experience in creative direction, film production, and still imagery.
        From intimate branded shorts to large‐scale campaigns, we thrive on
        transforming bold ideas into compelling visual narratives. Having
        collaborated with both local artisans and global corporations, we’ve
        learned to balance high‐level strategy with hands‐on execution—whether
        that means sketching storyboards over coffee or fine-tuning camera
        settings at dawn.
      </p>
    </article>
    <article class="philosophy">
      <h3>Our philosophy</h3>
      <p>
        At our core lies a belief in the power of genuine human stories. We
        don’t just make images; we seek out the thoughts, emotions, and subtle
        moments that resonate beneath the surface. Every project begins with
        listening—understanding what moves you, what challenges you, and what
        makes your brand unique. From there, we craft honest, relevant
        narratives that connect people to people, not just products to pixels.
        Authenticity for us isn’t a trend—it’s the only way to create work that
        truly matters.
      </p>
    </article>
  </section>

  <section class="full-width">
    <div class="services">
      <h2>Twoeighty's <br /> <span class="span1">SERVICES</span></h2>
    </div>
    <section class="background full-width">
      <div class="slider-container">
        <div class="slider-track">
          <img src="/banner/commercials.webp" alt="Television commercials" />
          <img src="/banner/content_creation.webp" alt="Content creation" />
          <img src="/banner/corporate.webp" alt="Corporate videos" />
          <img src="/banner/creative_direction.webp" alt="Creative direction" />
          <img
            src="/banner/creative_film.webp"
            alt="Creative film production"
          />
          <img src="/banner/interviews.webp" alt="High end interviews" />
          <img src="/banner/photography.webp" alt="Lifestyle photography" />

          <img src="/banner/commercials.webp" alt="Television commercials" />
          <img src="/banner/content_creation.webp" alt="Content creation" />
          <img src="/banner/corporate.webp" alt="Corporate videos" />
          <img src="/banner/creative_direction.webp" alt="Creative direction" />
          <img
            src="/banner/creative_film.webp"
            alt="Creative film production"
          />
          <img src="/banner/interviews.webp" alt="High end interviews" />
          <img src="/banner/photography.webp" alt="Lifestyle photography" />
        </div>
      </div>
    </section>
    <section class="grid_2">
      <div class="clients">
        <h4>Selected <br />clients</h4>
        <ul>
          <li>Adidas</li>
          <li>Arbejdstilsynet</li>
          <li>Arbejdernes</li>
          <li>Landsbank</li>
          <li>CPH Airport</li>
          <li>Coca Cola</li>
          <li>Deloitte</li>
          <li>DJØF</li>
          <li>Danish Design Center</li>
          <li>Fitness World</li>
          <li>Fritz Hansen</li>
          <li>Microsoft</li>
          <li>Norwegian Airlines</li>
          <li>Topdanmark</li>
          <li>Spangsberg Flødeboller</li>
          <li>Wonderful Copenhagen</li>
        </ul>
      </div>
      <div class="agencies">
        <h4>Selected <br /> agencies</h4>
        <ul>
          <li>BoyeSpellerberg</li>
          <li>CoPlus</li>
          <li>GeelmuydenKiese</li>
          <li>Lead Agency</li>
          <li>Mindshare</li>
          <li>Marvelous</li>
          <li>Sunrise</li>
          <li>Precis Digital</li>
        </ul>
      </div>
      <div class="contact">
        <h4>Contact us</h4>
        <p>mail: info@280.dk</p>
        <p>phone: +45 31 46 20 10</p>
      </div>
      <div class="button">
        <Button />
      </div>
    </section>
  </section>
</Layout>

<style>
  article {
    margin-bottom: 150px;
  }

  article:first-of-type {
    margin-bottom: 150px;
    margin-top: 150px;
  }

  .intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
  }

  .intro img {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  h1 {
    margin: auto;
    grid-column: 1 / 5;
    grid-row: 1;
    margin-right: 0;
  }
  h2 {
    margin-bottom: 20px;
  }
  .grid_1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .who {
    grid-column: 1 / span 4;
    grid-row: 1;
    max-width: 450px;
  }

  .philosophy {
    grid-column: 2 / span 4;
    grid-row: 2;
    max-width: 450px;
    text-align: left;
  }

  .who h3,
  .philosophy h3 {
    margin-bottom: 0;
  }

  .who p,
  .philosophy p {
    margin-top: 5px;
  }

  ul {
    font-size: 12px;
  }

  ul {
    list-style: none;
    text-align: left;
    padding: 0;
  }

  li {
    padding-bottom: 3px;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    row-gap: 40px;
  }

  .services {
    text-align: center;
  }

  .background {
    background-color: black;
    max-width: 100%;
    height: 310px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .slider-container {
    width: 100%;
    overflow: hidden;
  }

  .slider-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  .slider-track img {
    width: 10em;
    padding-left: 0.6em;
    height: auto;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .intro img {
    width: 300px;
  }

  @media (width >= 600px) {
    .intro img {
      width: 350px;
    }
  }

  @media (width >= 700px) {
    .intro img {
      width: 400px;
    }
  }

  @media (width >= 800px) {
    .intro img {
      width: 500px;
    }

    .philosophy {
      grid-column: 3 / span 3;
    }

    .grid_2 {
      grid-template-columns: repeat(3, 1fr);
    }

    .button {
      grid-row: 1;
      grid-column: 1 / span 3;
      padding: 100px;
    }
  }

  @media (width >= 1000px) {
    .intro img {
      width: 600px;
    }

    .philosophy,
    .who {
      max-width: 550px;
    }

    .slider-track img {
      width: 13em;
    }

    .background {
      height: 380px;
    }
  }

  @media (width >= 1200px) {
    .intro img {
      width: 750px;
    }

    h1 {
      margin-right: 150px;
    }
    .grid_1 {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .philosophy {
      grid-column: 4 / 8;
    }

    .philosophy,
    .who {
      max-width: 700px;
    }

    .slider-track img {
      width: 16em;
    }

    .background {
      height: 480px;
    }

    li {
      font-size: 1.125rem;
    }
  }
</style>
