---
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
import Typewriter from "../components/Typewriter.astro";
import Case from "../components/Case.astro";
import ButtonArchive from "../components/ButtonArchive.astro";
import Button from "../components/Button.astro";

const curl = "https://lescamgejebsqtwecrww.supabase.co/rest/v1/twoeighty_cases?selected=eq.true";

const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxlc2NhbWdlamVic3F0d2Vjcnd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczMDI3MTcsImV4cCI6MjA2Mjg3ODcxN30.aoF4F4HWliGv7dB5WhKHov5-LFWZ-xm_RIfgX_L0Ul8";

const options = {
  headers: {
    apikey: apikey,
  },
};
const data = await fetch(curl, options).then((response) => response.json());
---

<Layout>
  <section class="hero">
    <div class="hero_text">
      <Typewriter />
      <div class="paragraph">
        <p>A Copenhagen-based production company crafting bold, human stories across film, photography, and creative direction. We partner with brands, agencies, and artists to create work that feels honest, playful, and visually striking.</p>

        <a href="/about">Learn more</a>
      </div>
    </div>
    <div class="img_container">
      <video autoplay loop muted playsinline preload: "none" class="img_hero" src="/index_smaller.mp4"></video>
    </div>
  </section>

  <section>
    <div>
      <h2>Selected cases</h2>
      <div class="center">
        <ButtonArchive />
      </div>
    </div>

    {data.map((singleCase) => <Case {singleCase} />)}
  </section>

  <section class="full-width">
    <div class="grid_3_1 black">
      <div>
        <p class="margin_r">We are TWOEIGHTY — a Copenhagen-based production company driven by curiosity, collaboration and craft. We work with brands, agencies and artists to create visually striking, emotionally honest storytelling — from commercials and branded content to music videos and experimental formats. Our work is rooted in a playful, conceptual approach and a belief in the power of real people and real moments.</p>

        <a class="a-white" href="/about">Learn more</a>
      </div>
      <div class="grid_9_1">
        <img src="/280_1.webp" alt="anders and morten" />
        <p class="vertical">twoeighty</p>
      </div>

      <p class="bottom">Behind every frame is a team that values process as much as product. We’re not just here to deliver — we’re here to co-create. With strong emphasis on creative sparring, visual identity and human connection, we strive to make every collaboration feel intuitive, transparent and full of energy.</p>
    </div>
  </section>
  <Socials />
  <div class="intouch_btn">
    <Button />
  </div>
</Layout>

<style>
  /***********OVERORDNET *********/

  /* .hero_text a {
    padding-top: 50px;
  } */

  button section {
    margin-bottom: 150px;
  }

  .intouch_btn {
    text-align: center;
    margin-bottom: 150px;
  }
  .center {
    text-align: center;
    margin-bottom: 150px;
  }
  /* h3 {
    margin: 0;
  } */

  h2 {
    text-align: center;
    margin: 150px 0 15px 0px;
  }

  .a-white {
    color: white;
  }

  /*************HERO ****************/
  .hero {
    display: grid;
    gap: 30px;
    /* margin-top: 50px; */
  }
  .hero_text {
    text-align: center;
  }

  .img_container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: auto;
  }

  .img_hero {
    width: auto;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }

  /****************ABOUT *****************/

  .bottom {
    margin-top: 25px;
  }
  img {
    width: 100%;
  }

  .black {
    background-color: var(--black);
    color: white;
    padding: 5%;
    margin-bottom: 150px;
  }
  video {
    max-width: 100%;
  }

  .grid_9_1 {
    display: grid;
    grid-template-columns: 9fr 2fr;
    margin: auto 0;
  }
  .vertical {
    writing-mode: vertical-rl;
    /* font-size: 4rem; */
    font-size: clamp(4rem, 17vw, 12rem);
    margin-right: clamp(2rem, 8vw, 5rem);
    /* margin-left: -2rem; */
    font-family: Friz;
    text-transform: uppercase;
    line-height: 0;
  }

  @media (width >= 768px) {
    .bottom {
      align-self: flex-end;
    }
  }

  @media (width >= 900px) {
    .margin_r {
      margin-right: 25px;
    }
    .grid_3_1 {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
    .vertical {
      margin-right: 2rem;
      font-size: clamp(4rem, 9vw, 4rem);
    }
  }

  @media (width >= 1024px) {
    .grid_9_1 {
      display: grid;
      grid-template-columns: 9fr 1fr;
      margin: auto 0;
    }

    /* .vertical { */
    /* margin-right: 50px; */
    /* font-size: clamp(3rem, 5vw, 6rem); */
    /* } */
    .hero {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 30px;
    }

    .img_container {
      grid-row: 1/3;
      display: flex;
      justify-content: center;
    }

    .img_hero {
      height: 90vh;
      width: auto;
    }

    .hero_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 90vh;
      text-align: left;
    }

    .none {
      display: block;
    }

    .case_right,
    .case_left {
      display: flex;
      gap: 25px;
      flex-direction: column;
    }

    .case_grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (width >= 1340px) {
    .vertical {
      font-size: 6rem;
    }
    .bottom {
      margin-left: -3rem;
    }
  }
</style>
