---
const { product } = Astro.props;
---

<section class="case_grid">
  <div class="case_left">
    <div>
      <h3>{product.name}</h3>
      <p>
        {product.brief_text}
      </p>
      <a href={"case/" + product.id}>TRYYYk</a>
    </div>
  </div>
</section>
