---
const { product } = Astro.props;
---

<section class="case_grid">
  <div class="case_left">
    <div>
      <h3>{product.name}</h3>
      <p>
        {product.brief_text}
      </p>
      <a href={"case/" + product.id}>TRYYYk</a>

      <!-- <p>
        We created a visual identity for Thykassen that captures the raw, natural beauty of the West Jutland landscape. Through authentic imagery and film, we told a story about simplicity, sustainability, and local produce. Our goal was to highlight what’s real – no filters, no fuss – and let the atmosphere speak for itself.
        <br />
        <br />
        With a warm, human-centered aesthetic, we developed a campaign that works across platforms – from website and social media to print and video.
      </p>
    </div>
    <img src="https://picsum.photos/seed/picsum/1500/1000" alt="" />
  </div>
</section> -->

      <style>
        section {
          max-width: 50%;
        }
      </style>
    </div>
  </div>
</section>
