---
import "/src/css/base.css";
---

<section>
  <h2>twoeighty's</h2>
  <h3>socials</h3>
  <div class="icon-container">
    <a href="https://www.instagram.com/280cph/"
      ><img src="/insta_black.webp" alt="instagram logo" /></a
    >
    <a href="https://vimeo.com/280cph"
      ><img src="/vimeo_black.webp" alt="vimeo logo" /></a
    >
    <a href="https://www.linkedin.com/company/280cph/"
      ><img src="/linkedind_black.webp" alt="linkedin logo" /></a
    >
  </div>

  <div class="grid_3_1">
    <a class="margin_r none" href="https://www.instagram.com/p/C3kQ29NIzbn/"
      ><img src="/socials/socials_1.webp" alt="to modeller med kasket" /></a
    >
    <a href="https://www.instagram.com/p/CpKZgCdoNQN/?img_index=5"
      ><img
        src="/socials/socials_2.webp"
        alt="behind the scenes på et filmset"
      /></a
    >
    <div>
      <div class="flexRow margin_r">
        <a href="https://www.instagram.com/p/CwXbkogMti7/">
          <img
            class="margin_b"
            src="/socials/socials_3.webp"
            alt="gruppebilede fra et filmset"
          /></a
        >
        <a href="https://www.instagram.com/p/Co9qgyCI8TG/?img_index=1"
          ><img src="/socials/socials_6.webp" alt="profilbillede af mand" /></a
        >
      </div>
    </div>

    <a href="https://www.instagram.com/p/ClOB13qoGBe/?img_index=4">
      <img
        src="/socials/socials_5.webp"
        alt="billede af en mand i underbukser"
      /></a
    >
    <a class="margin_r none" href="https://www.instagram.com/p/CXxyq0Jsshr/"
      ><img
        src="/socials/socials_4.webp"
        alt="behind the scenes billede på et set"
      />
    </a>
  </div>
</section>

<style>
  section {
    margin-bottom: 150px;
    position: relative;
  }

  h2,
  h3 {
    text-align: center;
  }

  .none {
    display: none;
  }

  .icon-container {
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  .flexRow {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .grid_3_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 50px;
  }

  .margin_r {
    margin-top: 35%;
  }

  @media (width >= 768px) {
    .grid_3_1 {
      grid-template-columns: repeat(5, 1fr);
      gap: 25px;
    }

    .flexRow {
      gap: 15px;
    }

    .none {
      display: block;
    }
  }
</style>
