@font-face {
  font-family: Friz;
  src: url("../assets/fonts/Friz/friz-quadrata-std-bold-587034a220f9f-kopi.otf");
}

@font-face {
  font-family: Diatype;
  src: url("../assets/fonts/Diatype/abc-diatype-regular-2-kopi.otf");
}

main {
  margin: 0 auto;
  /* max-width: 90%; */
  background-color: var(--background-color);
}

html {
  --backgroundcolor: #fcfcfb;
  --redfont: #fd0002;
  --black: #040404;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1,
h2 {
  font-family: Friz;
}

h1 {
  margin: 0;
  line-height: clamp(1.5625rem, 5vw, 3.75rem);
  text-align: center;
  font-size: clamp(1.375rem, 5vw, 5.625rem);
}

h2 {
  font-size: 30px;
  line-height: 25px;
}

.title {
  text-align: center;
  font-size: 12px;
}
h3,
h4,
.title {
  font-family: Diatype;
}

h1,
h2,
h3,
.title {
  color: var(--redfont);
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

.menu li {
  font-family: Diatype;
}

.span1 {
  font-family: Diatype;
  font-size: 20px;
}

@media (width >= 500px) {
  /* h1 {
    font-size: 30px;
  } */

  .intro img {
    width: 300px;
  }
}

@media (width >= 600px) {
  .intro img {
    width: 350px;
  }
}

@media (width >= 700px) {
  .intro img {
    width: 400px;
  }

  .intro {
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    grid-column: 3 / 5;
  }
}

@media (width >= 800px) {
  .intro img {
    width: 500px;
  }

  /* h1 {
    font-size: 37px;
    line-height: 30px;
  } */
  .title {
    font-size: 17px;
  }

  .philosophy {
    grid-column: 3 / span 3;
  }

  h3 {
    font-size: 27px;
  }

  p {
    font-size: 14px;
  }
}

@media (width >= 1000px) {
  .intro {
    grid-template-columns: repeat(5, 1fr);
  }

  .intro img {
    width: 600px;
  }

  h1 {
    grid-column: 3 / 6;
    /* font-size: 59px; */
    /* line-height: 45px; */
  }
  .title {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .philosophy,
  .who {
    max-width: 550px;
  }

  .slider-track img {
    width: 12em;
  }

  .background {
    height: 370px;
  }
}

@media (width >= 1200px) {
  .intro img {
    width: 700px;
  }

  /* h1 {
    font-size: 75px;
    line-height: 60px;
  } */
  .title {
    font-size: 25px;
  }

  h3 {
    font-size: 40px;
  }
  .grid_1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .philosophy {
    grid-column: 4 / 8;
  }

  .philosophy,
  .who {
    max-width: 700px;
  }

  .slider-track img {
    width: 14em;
  }

  .background {
    height: 430px;
  }

  h4 {
    font-size: 30px;
  }
}
