@font-face {
  font-family: Friz;
  src: url("../assets/fonts/Friz/friz-quadrata-std-bold-587034a220f9f-kopi.otf");
}

@font-face {
  font-family: Diatype;
  src: url("../assets/fonts/Diatype/abc-diatype-regular-2-kopi.otf");
}
body {
  max-width: 1400px;
}
main {
  margin: 0 auto;
  max-width: 98%;
  background-color: var(--background-color);
}

html {
  --backgroundcolor: #fcfcfb;
  --redfont: #fd0002;
  --black: #040404;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1,
h2 {
  font-family: Friz;
}

h1 {
  margin: 0;
  line-height: clamp(1.375rem, 6vw, 4.625rem);
  text-align: center;
  font-size: clamp(1.375rem, 8vw, 5.625rem);
}

h2 {
  font-size: clamp(1.875rem, 8vw, 3.5rem);
  line-height: clamp(1.6rem, 8vw, 2rem);
}

.span1 {
  font-size: clamp(1.25rem, 8vw, 1.875rem);
}

.title {
  text-align: center;
  font-size: clamp(0.2rem, 4vw, 1.563rem);
}
h3,
h4,
.title {
  font-family: Diatype;
}

h1,
h2,
h3,
.title {
  color: var(--redfont);
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

.menu li {
  font-family: Diatype;
}

.span1 {
  font-family: Diatype;
}
