---
import "/src/css/base.css";
import ButtonHeader from "../components/ButtonHeader.astro";
import ButtonFooter from "../components/ButtonFooter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>280</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <!-- VENSTRE SIDE (burger + menu) -->
          <div class="nav-left">
            <div class="burger">
              <span></span>
              <span></span>
              <span></span>
            </div>

            <div class="menu">
              <a href="/about">ABOUT</a>
              <a href="/archive">ARCHIVE</a>

              <!-- MOBIL-KNAP -->
              <div class="button-mobile">
                <ButtonHeader />
              </div>
            </div>
          </div>

          <!-- CENTER LOGO -->
          <div class="nav-center">
            <a href="/">
              <img src="/logo.webp" alt="280 logo" />
            </a>
          </div>

          <!-- HØJRE SIDE -->
          <div class="nav-right">
            <div class="button-desktop">
              <ButtonHeader />
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <article>
        <h5>Twoeighty production co.</h5>

        <div class="footer-grid">
          <div class="footer-container">
            <a href="/about"><h6>ABOUT</h6></a>
            <a href="/archive"><h6>ARCHIVE</h6></a>
          </div>
          <div class="footer-container">
            <h6>CONTACT</h6>
            <p>mail: <br />info@280.dk</p>
            <p>phone: <br />+45 31 46 20 10</p>
          </div>
          <div class="footer-container">
            <h6>SOCIALS</h6>
            <div class="icon-container">
              <a href="https://www.instagram.com/280cph/"><img src="/insta_white.webp" alt="Instagram logo" /></a>
              <a href="https://vimeo.com/280cph"><img src="/vimeo_white.webp" alt="Vimeo logo" /></a>
              <a href="https://www.linkedin.com/company/280cph/?originalSubdomain=dk"><img src="/linkedin_white.webp" alt="LinkedIn logo" /></a>
            </div>
          </div>
          <div class="button">
            <ButtonFooter />
          </div>
        </div>
      </article>
    </footer>
    <script src="/burger.js" defer></script>
  </body>
</html>

<style>
  /**** HEADER ****/
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-color);
  }

  nav {
    max-width: 2000px;
    margin: 0 auto;
  }

  header img {
    width: clamp(40px, 6vw, 50px);
  }

  header a {
    text-decoration: none;
    color: black;
  }

  header a:hover {
    transform: scale(1.1); /* zoom 20% op */
    transition: transform 0.4s ease-in-out;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
  }

  /* Venstre side: burger og/eller links */
  .nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  /* Højre side: knap */
  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* Skjul desktop-knap på mobil */
  .button-desktop {
    display: none;
  }

  .button-mobile button {
    font-size: 1rem;
  }

  /**** BURGER MENU ****/
  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 4000;
  }

  .burger span {
    display: block;
    width: 22px;
    height: 2px;
    background: black;
    transition: 0.3s;
    border-radius: 2px;
  }

  .burger.open span:nth-child(1) {
    transform: translateY(6.1px) rotate(45deg);
  }
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  .burger.open span:nth-child(3) {
    transform: translateY(-8.1px) rotate(-45deg);
  }

  /**** MOBIL DROPDOWN MENU ****/
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 35px;
    left: 0;
    background-color: var(--background-color);
    padding: 20px;
    z-index: 3000;
    width: 100vw;
  }

  .menu.open {
    display: flex;
    flex-direction: row;
    gap: 30px;
    left: 14px;
  }

  /**** FOOTER ****/

  footer {
    padding: 60px;
    display: flex;
    justify-content: center;
  }

  h5 {
    margin-bottom: 50px;
    text-align: center;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    row-gap: 70px;
    gap: 70px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  @media (width >= 768px) {
    .footer-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 120px;
    }

    .burger {
      display: none;
    }

    .menu {
      display: flex;
      position: static;
      flex-direction: row;
      gap: 15px;
      padding: 0;
      background: none;
      width: auto;
    }

    .menu a {
      padding: 0;
    }

    .button-desktop {
      display: block;
    }

    /* Skjul mobil-knappen som udgangspunkt */
    .button-mobile {
      display: none;
    }
  }
</style>
